* {
    font-family: 'Lato', sans-serif;
}


/*
    ============
    HEADER
    ============
*/

header {
    background-color: #fff;
    height: auto;
}

.darkest-gray {
    background-color: #171717;
}

header .offer a {
    font-size: 0.8em;
    color: #fff;
    padding: 5.5px 0;
}

.columns .fa-phone,
.columns .fa-envelope {
    font-size: 1.3em;
    margin: 0 5px 0 15px;
}

.columns .fa-envelope {
    margin-left: 10px;
}

.offer img[alt="US flag"] {
    height: 13px;
}

.main div:first-child .columns {
    padding: 0.95rem;
}

.main img[alt="Fab"] {
    height: 38.5px;
}

.main .row {
    margin: 0;
}

.main ul {
    justify-content: space-around;
    padding: 0 0.8rem;
}

.main li {
    font-size: 0.95em;
    border-right: 1px solid #d4d4d4;
    padding: 0.32% 2.2%;
    margin: 0.65% 0;
}

.main li:first-child {
    padding-left: 0;
}

.main li:last-child {
    padding-right: 0;
    border-right: 0;
}

.main li a {
    padding: 0;
    margin: 0;
    color: #333;
}

.main li a:hover {
    color: #9b9b9b;
}