.owl-nome .item{
  background:#f1f1f1;
  height:300px;
  text-align:center;
}

.owl-nome .owl-dots{
  margin-top:50px;
}

.owl-nome .owl-nav [class*=owl-] {
    color: red;
    font-size: 54px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-nome .owl-nav [class*=owl-]:hover {
    color: blue;
    background: none;
}

.owl-nome .owl-dots .owl-dot span {
    width: 50px;
    height: 5px;
    margin: 5px 7px;
    background: blue;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-nome .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: red;
}

.owl-nome .owl-nav {
    position: absolute;
    width: 100%;
    top: 26%;
    background:blue;
    height:0px;
}

.owl-nome .owl-next{
  position:absolute;
  background:blue;
  right:1%;
}

.owl-nome .owl-prev{
  position:absolute;
  background:blue;
  left:1%;
}


h4::before{
  content: "precio";
}
